<h3>Today Check-Out History</h3>
<table class="table table-striped table-hover table-bordered">
    <div class="table-responsive">
        <table class="table table-striped table-sm table-bordered text-center">
            <thead>
            <tr>
                <th class="align-middle" scope="col">NO.</th>
                <th class="align-middle" scope="col">Prodect Code</th>
                <th class="align-middle" scope="col">Build Stage</th>
                <th class="align-middle" scope="col">Site</th>
                <th class="align-middle" scope="col">Serial Number</th>
                <th class="align-middle" scope="col">Unit Number</th>
                <th class="align-middle" scope="col">MLB Config</th>
                <th class="align-middle" scope="col">Test Catagory</th>
                <th class="align-middle" scope="col">CP Number</th>
                <th class="align-middle" scope="col">HH P/N</th>
                <th class="align-middle" scope="col">Test Process</th>
                <th class="align-middle" scope="col">Test Result</th>
                <th class="align-middle" scope="col">Check-Out Time</th>
                <th class="align-middle" scope="col">Operator</th>
                <th class="align-middle" scope="col">Remark</th>
            </tr>
            </thead>
            <tbody>
            {% if test_records_with_schedule %}
            {% for record,schedule,next_station in test_records_with_schedule %}
            <tr>
            <td class="align-middle alternative_no" scope="col">{{ forloop.counter }}</td>
            <td class="align-middle" scope="col">{{record.board.product_code}}</td>
            <td>{{record.board.subprotject_name}}</td>
            <td>{{record.site}}</td>
            <td>{{record.board.serial_number}}</td>
            <td>{{record.board.board_number}}</td>
            <td>{{record.board.configration}}</td>
            <td>{{record.board.test_item_name}}</td>
            <td>{{schedule.cp_nums}}</td>
            <td>{{record.board.HHPN}}</td>
            <td style="color: #0f38ef;">{{schedule.test_sequence}}</td>
            <td style="background-color: #dcef0f;">pass</td>
            <td>{{record.start_time}}</td>
            <td>{{record.operator}}</td>
            <td>{{record.remark}}</td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</table>